{% load static %}

</div>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<style>
    body {
         background-image:url('https://pbs.twimg.com/media/EbSKBtIUMAA47Eq.jpg');
         background-size:cover;
    }

</style>
<div class="page-header" >
    <h1 style="text-align:center; background-color:#8f8681" >블로그</h1>
<body>
    <div class="container my-3">
        <table class="table">
            <thead>
            <tr class="thead-dark">
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            {% if question_list %}
            {% for question in question_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                </td>
                <td>{{ question.create_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기</a>

    </div>
</body>