button {
      width: 120px;
      height: 40px;
      background-color: rgb(4, 150, 247);
      border: none;
      color: white;
      box-shadow: 0 4px
      16px rgba(0, 79, 255, 0.3);
      font-size: 16px;
      font-weight: bold;
      border-radius: 20px;
      transform: translate(-50%, -50%);
      translation:0.3;
}
button:focus{
       outline: 0;
}
        button:hover{
            background-color: rgba(0, 79, 255, 0.9);
            cursor: pointer;
            box-shadow: 0 2px
            4px rgba(0, 79, 255, 0.6);
        }