{% load static %}


<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>mysite</title>
    <style>
        html {
            position: relative;
            min-height: 100%;
            margin: 0;
        }
        body {
            min-height: 100%;
        }
        .footer{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 15px 0;
            text-align: center;

        }
    </style>
</head>
<body style="background: linear-gradient(to right, #a8edea, #fed6e3)">

<div>
    {% include "navbar.html" %}

    {% block content %}
    {% endblock %}
    <!-- jQuery JS-->
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'bootstrap.min.js' %}"></script>
</div>
<div class="card-footer footer">@suhyuk</div>
</body>
</html>
